/* Smartphones */
@media only screen and (max-width: 31.25em) {
  .main--facts {
    max-width: 18.75rem;
    font-size: 0.6rem;
  }

  .navbar {
    flex-direction: column;
  }
}

/* Tablets */
@media (min-width: 31.3125em) and (max-width: 48em) {
  .main--facts {
    max-width: 37.5rem;
  }
}

/* Normal */
/* @media (min-width: 48.0625) and (max-width: 75em) {
} */

/* Widescreen */
/* @media (min-width: 75.0625em) {
} */

/* Landscape */
@media (max-height: 31.25em) {
  .main--facts {
    max-width: 23.4375rem;
    font-size: 0.8rem;
    margin-top: 1.4375rem;
  }

  .main--title {
    font-size: 1.75rem;
  }

  .main--content {
    background-position: right 67%;
  }
}
