/* General Styling */

:root {
  --clr-accent-primary: #61dafb;
  --clr-accent-secondary: #deebf8;
  --clr-background-primary: #282d35;
  --clr-background-secondary: #21222a;

  --clr-neutral-100: #fff;

  --ff-primary: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  font-size: 100%;
}

body {
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

/* Navbar Styling */

.navbar {
  background: var(--clr-background-secondary);
  display: flex;
  align-items: center;
  height: 5.625rem;
  padding: 1.875rem 1.5625rem;
}

.nav--icon {
  height: 1.875rem;
  margin-right: 0.4375rem;
}

.nav--icon_text {
  color: var(--clr-accent-primary);
  margin-right: auto;
  font-size: 1.375rem;
}

.nav--title {
  color: var(--clr-accent-secondary);
}

/* Main Styling */

.main--content {
  background: var(--clr-background-primary);
  background-image: url(../assets/img/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 40%;
  height: 100vh;
  width: min(100%, 70.5rem);
  padding: 3.5625rem 1.6875rem;
}

.main--title {
  font-size: 2.4375rem;
  letter-spacing: -0.05em;
}

.main--title,
.main--facts {
  color: var(--clr-neutral-100);
}

.main--facts {
  padding-left: 2.75rem;
  margin-top: 2.875rem;
}

.main--facts > li {
  padding-block: 0.625rem;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: var(--clr-accent-primary);
}
