/* General Styling */

:root {
  --clr-accent-primary: #61dafb;
  --clr-accent-secondary: #deebf8;
  --clr-background-primary: #282d35;
  --clr-background-secondary: #21222a;

  --clr-neutral-100: #fff;

  --ff-primary: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  font-size: 100%;
}

body {
  margin: 0;
  background: var(--clr-background-primary);
}

img {
  display: block;
  max-width: 100%;
}

/* Navbar Styling */

.navbar {
  background: var(--clr-background-secondary);
  display: flex;
  align-items: center;
  height: 5.625em;
  padding: 1.875em 1.5625em;
}

.nav--icon {
  height: 1.875em;
  margin-right: 0.4375em;
}

.nav--icon_text {
  color: var(--clr-accent-primary);
  margin-right: auto;
  font-size: 1.375rem;
}

.nav--title {
  color: var(--clr-accent-secondary);
}

/* Main Styling */

.main--content {
  color: var(--clr-neutral-100);
  background-image: url(../assets/img/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 70%;
  width: min(100%, 70.5em);
  padding: 2.5em 1.67em;
}

.main--title {
  font-size: 2.4375rem;
  letter-spacing: -0.05em;
}

.main--facts {
  padding-left: 2.75em;
  margin-top: 2.875em;
  max-width: 425px;
}

.main--facts > li {
  padding-block: 0.625em;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: var(--clr-accent-primary);
}
